<launch>

  <!-- options: turn off control panel or turn on image viewer -->
  <arg name="panel" default="True" />
  <arg name="image" default="False" />

  <include file="$(find brl_parrots)/launch/ardrone_manual.launch">
    <arg name="drone_name" value="archie" />
    <arg name="drone_ip" value="192.168.10.71" />
    <arg name="panel" value="$(arg panel)" />
    <arg name="image" value="$(arg image)" />
  </include>

</launch>
