<launch>	

  <arg name="drone_name" value="Archie" />

  <node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
    <param name="stream_mode" value="ClientPull" type="str" />
    <param name="datastream_hostport" value="192.168.10.1:801" type="str" />
    <param name="tf_ref_frame_id" value="/world" type="str" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" />

  <group ns = "$(arg drone_name)">

    <include file="$(find aapacs_drones)/launch/drone_notrack.launch">
      <arg name="drone_ip" value="192.168.10.71" />
    </include>

    <node name="controlpanel" pkg="aapacs_drones" type="drone_giu.py"/>

    <node name="viewer" pkg="aapacs_drones" type="drone_monitor.py">
      <remap from="image" to="ardrone/image_raw" />
    </node>

    <node name="control" pkg="aapacs_drones" type="vicon_control.py">
      <remap from="drone" to="/vicon/$(arg drone_name)/$(arg drone_name)" />
      <param name="kpx" value="0.6" />
      <param name="kdx" value="0.3" />
      <param name="kpy" value="0.6" />
      <param name="kdy" value="0.3" />
      <param name="kpz" value="0.8" />
    </node>
    
  </group>

</launch>
