<launch>	

  <arg name="drone_name" value="Archie" />

  <group ns = "$(arg drone_name)">

    <include file="$(find aapacs_drones)/launch/drone_notrack.launch">
      <arg name="drone_ip" value="192.168.10.71" />
    </include>

    <node name="controlpanel" pkg="aapacs_drones" type="drone_giu.py" />

    <node name="viewer" pkg="aapacs_drones" type="drone_monitor.py">
      <remap from="image" to="ardrone/image_raw" />
    </node>

  </group>

</launch>
