<launch>

  <arg name="drone_ip" />
  <arg name="drone_frame" />
  <arg name="drone_name" default="ardrone" />
  <arg name="image" default="false" />

  <include file="$(find vicon_bridge)/launch/vicon.launch" />

  <!-- need target and in separate namespace to avoid control panel conflicts -->
  <!-- in particular the "drone_name" parameter -->
  <include ns="target" file="$(find brl_drones)/launch/single_virtual.launch">
    <arg name="drone_name" value="target" />
    <arg name="use_panel" value="true" />
  </include>

  <include file="$(find brl_parrots)/launch/ardrone_follow_tf.launch">
    <arg name="panel" value="True" />
    <arg name="image" value="$(arg image)" />
    <arg name="drone_frame" value="$(arg drone_frame)"/>
    <arg name="drone_name" value="$(arg drone_name)"/>
    <arg name="drone_ip" value="$(arg drone_ip)" />
    <arg name="target_frame" value="target_hull" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find brl_drones)/urdf/drones.rviz" respawn="true" />

</launch>
