<launch>	


  <arg name="num_drones" default="3" />

  <arg name="pkg_folder" default="$(find aapacs_drones)" />


  <arg name="launch_file" default="$(arg pkg_folder)/launch/mylaunch_$(arg num_drones).launch" />

  <arg name="urdf_file" default="$(arg pkg_folder)/urdf/myurdf_$(arg num_drones).urdf.xacro" />

  <arg name="traj_csv_file" default="$(arg pkg_folder)/launch/mytraj_$(arg num_drones).csv" />


  <param name="num_drones" value="$(arg num_drones)" />


  <param name="launch_file" value="$(arg launch_file)" />

  <param name="urdf_file" value="$(arg urdf_file)" />

  <param name="traj_csv_file" value="$(arg traj_csv_file)" />

  <param name="pkg_folder" value="$(arg pkg_folder)" />


  <node name="sim_builder" pkg="aapacs_drones" type="sim_builder.py" output="screen" />


</launch>
