<launch>

  <arg name="gui" default="True" />

  	<include file="$(find aapacs_drones)/launch/setup_multi_urdf.launch">

          <!-- always using drone 1 -->
          <arg name="name1" value="archie" />

          <arg name="use2" value="true" />
          <arg name="name2" value="bernard" />

          <arg name="use3" value="true" />
          <arg name="name3" value="carlton" />

          <arg name="use4" value="true" />
          <arg name="name4" value="daisy" />

          <arg name="use5" value="false" />
          <arg name="name5" value="elvis" />

          <arg name="use6" value="false" />
          <arg name="name6" value="freda" />

        </include>

        <param name="use_gui" value="$(arg gui)"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" required="true" />

</launch>
