<launch>

    <node name="driver" pkg="ardrone_autonomy" type="ardrone_driver" args="-ip $(arg drone_ip)" respawn="true" >
    	  <param name="detect_type" value="10" />
	  <param name="enemy_colors" value="3" />
	  <param name="detections_select_h" value="32" />
	  <param name="detections_select_v_hsync" value="128" />
	  <param name="enemy_without_shell" value="1" />
    </node>

</launch>
