<launch>
  <group ns = "elvis">
    <node name="driver" pkg="ardrone_autonomy" type="ardrone_driver" args="-ip 192.168.10.75">
    	  <param name="detect_type" value="10" />
	  <param name="enemy_colors" value="3" />
	  <param name="detections_select_h" value="32" />
	  <param name="detections_select_v_hsync" value="128" />
	  <param name="enemy_without_shell" value="1" />
   </node>
    <node name="teleop" pkg="aapacs_drones" type="drone_teleop.py" output="screen" />
    <node name="monitor" pkg="aapacs_drones" type="drone_monitor.py">
      <remap from="image" to="/elvis/ardrone/image_raw" />
    </node>

    <node name="opticflow" pkg="aapacs_drones" type="rosoptflow.py">
      <param name="corner_interval" value="20" />
      <remap from="image" to="/elvis/ardrone/image_raw" />
    </node>
  </group>
</launch>