<launch>	

    <node name="driver" pkg="ardrone_autonomy" type="ardrone_driver" />    	

    <node name="teleop" pkg="drone_teleop" type="drone_teleop.py" output="screen"/>
    <node name="controlpanel" pkg="aapacs_drones" type="drone_panel.py" />
    
    <node name="viewer" pkg="aapacs_drones" type="drone_monitor.py">
      <remap from="image" to="ardrone/image_raw" />
    </node>

</launch>