<launch>

  <include file="$(find vicon_bridge)/launch/vicon.launch" />

  <include file="$(find brl_drones)/launch/single_virtual.launch">
    <arg name="drone_name" value="target" />
    <arg name="use_panel" value="true" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">['target/joint_states']</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 world base_link 100" />

    <arg name="tuning" default="false" />
    <node pkg="brl_drones" if="$(arg tuning)" name="tuning" type="pid_tune_gui.py" ns="control/pitch" />
    <node pkg="brl_drones" if="$(arg tuning)" name="tuning" type="pid_tune_gui.py" ns="control/roll" />
    <node pkg="brl_drones" if="$(arg tuning)" name="tuning" type="pid_tune_gui.py" ns="control/yaw" />
    <node pkg="brl_drones" if="$(arg tuning)" name="tuning" type="pid_tune_gui.py" ns="control/height" />

  <param name="default_trajectory_folder"  value="$(find brl_parrots)/launch" />
  <node name="traj_gui" pkg="brl_drones" type="csv_trajectory_gui.py" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find brl_drones)/urdf/drones.rviz"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find brl_drones)/urdf/single_drone.urdf.xacro'" />

  <include file="$(find brl_parrots)/launch/drone_follow_tf.launch">
    <arg name="panel" value="True" />
    <arg name="image" value="False" />
    <arg name="drone_name" value="archie" />
    <arg name="drone_ip" value="192.168.10.71" />
    <arg name="drone_frame" default="/vicon/Archie/Archie" />
    <arg name="target_frame" default="target_hull" />
  </include>

</launch>
