<launch>

  <include file="$(find vicon_bridge)/launch/vicon.launch" />

  <node name="rcbridge" pkg="rcbridge" type="rcbridge.py">
    <rosparam param="failsafe">[0.5, 0.5, 0.0, 0.0, 0.5, 0.5, 0.5, 0.5]</rosparam>
    <param name="udpport" value="27200" />
    <param name="ipaddr" value="192.168.10.173" />
  </node>

  <node name="controller" pkg="aapacs_drones" type="setpoint_control.py">
    <remap from="drone" to="/vicon/QAV_GREEN/QAV_GREEN" />

    <param name="pitch/init_gains/kp" type="double" value="0.11" />
    <param name="pitch/init_gains/ki" type="double" value="0.02" />
    <param name="pitch/init_gains/kd" type="double" value="0.14" />

    <param name="roll/init_gains/kp" type="double" value="0.11" />
    <param name="roll/init_gains/ki" type="double" value="0.02" />
    <param name="roll/init_gains/kd" type="double" value="0.14" />

    <param name="yaw/init_gains/kp" type="double" value="0.25" />
    <param name="yaw/init_gains/ki" type="double" value="0.0" />
    <param name="yaw/init_gains/kd" type="double" value="0.0" />

    <param name="thrust/init_gains/kp" type="double" value="0.2" />
    <param name="thrust/init_gains/ki" type="double" value="0.03" />
    <param name="thrust/init_gains/kd" type="double" value="0.18" />

  </node>

</launch>
  
