<launch>	

  <include file="$(find aapacs_drones)/launch/setup_multi_urdf.launch">

          <!-- always using drone 1 -->
          <arg name="name1" value="archie" />

          <arg name="use2" value="true" />
          <arg name="name2" value="bernard" />

  </include>

  <group ns="archie">

    <param name="drone_name" value="archie"/>

    <node name="targetsim" pkg="aapacs_drones" type="virtual_drone.py" />

    <node name="controlpanel" pkg="aapacs_drones" type="drone_panel.py" />

  </group>

  <group ns="bernard">

    <param name="drone_name" value="bernard"/>

    <node name="targetsim" pkg="aapacs_drones" type="virtual_drone.py" />

    <node name="controlpanel" pkg="aapacs_drones" type="drone_panel.py" />

  </group>

  <node name="traj_gui" pkg="aapacs_drones" type="csv_trajectory_gui.py" />

  <param name="use_gui" value="false"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["archie/joint_states", "bernard/joint_states"]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />


</launch>
